<%- include('shared/header.ejs')%> <%- include('shared/adminNavigation.ejs')%>

<main class="p-3 m-0 border-0 bd-example m-0 border-0" style="width: 1100px">
  <div class="accomodationFilter" style="width: 180px">
    <form action="changeFilterAdminPage" method="post">
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="jobs">Full-Time Jobs</option>
        <option value="academics">Academics</option>
        <option value="accommodation">Accommodation</option>
        <option value="SocialEvents">Social Events</option>
        <option value="mentalHealth">Mental Health</option>
        <option value="part-time-jobs">Part-Time Jobs</option>
      </select>
      <button type="submit" class="filter">
        Filter
      </button>
    </form>
  </div>
  <div class="container" style="width: 65%">
    <h2>List of Posts</h2>
    <ul class="list-group">
      <% allPosts.forEach(post => { %>
      <li class="list-group-item posts">
        <h3>
          User: <%= post.userId.firstName + " " + post.userId.lastName%>
        </h3>
        <h5>Title : <%= post.title %></h5>
        <p>Description : <%= post.description %></p>
        <p>Category : <%= post.category %></p>
        <h4>Comments:</h4>
        <% post.comments.forEach(comment => { %>
        <h5>
          User: <%= comment.userId.firstName + " " +
          comment.userId.lastName%>
        </h5>
        <p><%= comment.comment %></p>
        <% }) %>
      </li>
      <% }) %>
    </ul>

    <nav>
      <ul class="pagination mt-4 justify-content-center">
        <% if (page > 1) { %>
        <li class="page-item">
          <a class="page-link" href="/adminHomePage?page=<%= page - 1 %>">&laquo;</a>
        </li>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === page ? 'active' : '' %>">
          <a class="page-link" href="/adminHomePage?page=<%= i %>"><%= i %></a>
        </li>
        <% } %> <% if (page < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="/adminHomePage?page=<%= page + 1 %>">&raquo;</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</main>
<%- include('shared/footer.ejs')%>
