<%- include('shared/header.ejs')%> <%- include('shared/adminNavigation.ejs')%>

<main style="width: 1100px">
  <div class="accomodationFilter" style="width: 180px">
    <form action="changeFilter" method="post">
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="jobs">Full-Time Jobs</option>
        <option value="academics">Academics</option>
        <option value="accommodation">Accommodation</option>
        <option value="SocialEvents">Social Events</option>
        <option value="mentalHealth">Mental Health</option>
        <option value="part-time-jobs">Part-Time Jobs</option>
      </select>
      <button type="submit" style="margin-top: 10px; width: 170px">
        Apply category Filter
      </button>
    </form>
  </div>
  <div class="container" style="width: 65%">
    <h2>List of Get Help Posts</h2>
    <ul class="list-group">
      <% allPosts.forEach(post => { %>
      <li class="list-group-item">
        <p>Posted By <%= post.userId %></p>
        <p>Title : <%= post.title %></p>

        <p>Description : <%= post.description %></p>
        <p>Category : <%= post.category %></p>
      </li>
      <% }) %>
    </ul>
    <nav>
      <ul class="pagination mt-4 justify-content-center">
        <% if (page > 1) { %>
        <li class="page-item">
          <a class="page-link" href="/getHelpPost?page=<%= page - 1 %>"
            >&laquo;</a
          >
        </li>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === page ? 'active' : '' %>">
          <a class="page-link" href="/getHelpPost?page=<%= i %>"><%= i %></a>
        </li>
        <% } %> <% if (page < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="/getHelpPost?page=<%= page + 1 %>"
            >&raquo;</a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</main>
<%- include('shared/footer.ejs')%>
