<%- include('shared/header.ejs')%><%- include('shared/commonNavigation.ejs')%>
<body>
  <div class="accomodationFilter">
    <form action="changeFilter" method="post">
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="jobs">Full-Time Jobs</option>
        <option value="academics">Academics</option>
        <option value="accommodation">Accommodation</option>
        <option value="SocialEvents">Social Events</option>
        <option value="mentalHealth">Mental Health</option>
        <option value="part-time-jobs">Part-Time Jobs</option>
      </select>
      <button type="submit" class="filter">Filter</button>
    </form>
  </div>
  <div class="container">
    <h2>List of Posts</h2>
    <ul class="list-group">
      <% allPosts.forEach(post => { %>
      <li class="list-group-item posts">
        <h3>User: <%= post.userId.firstName + " " + post.userId.lastName%></h3>
        <h5>Title : <%= post.title %></h5>
        <p>Category : <%= post.category %></p>
        <p><%= post.description %></p>
        <h4>Comments:</h4>  
        <% post.comments.forEach(comment => { %>
          <h5>User: <%= comment.userId.firstName + " " + comment.userId.lastName%></h5>
          <p><%= comment.comment %></p>
          <% }) %>
        <form action="comment" method="post">
          <input type="text" name="comment" />
          <input  style="display: none;" id="postId" name="postId" value=<%= post._id %>>
          <button type="submit">Add Comment</button>
        </form>
      </li>
      <% }) %>
    </ul>

    
    <nav>
      <ul class="pagination mt-4 justify-content-center">
        <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="/homePage?page=<%= currentPage - 1 %>"
            >&laquo;</a
          >
        </li>
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/homePage?page=<%= i %>"><%= i %></a>
        </li>
        <% } %> <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="/homePage?page=<%= currentPage + 1 %>"
            >&raquo;</a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</main>
<%- include('shared/footer.ejs')%>

</body>
